div.cardContainer {
    position: relative;
    border: 1px solid #2c2c2c;
    width: 440px;
    aspect-ratio: 0.709677419;
    border-radius: 13px;
    margin: 5px;
    float: left;
    overflow: hidden;
}

@media screen and (max-width: 467px) {
    div.cardContainer {
        width: 97%;
    }
    
}

div.cardContainer img {
    position: absolute;
    width: 110%;
    margin-top: -4%;
    margin-left: -5%;
}